#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
#map{
    height:100%;
}
html,body{
    height:100%;
    margin:0;
    padding:0;
}
.title {
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 20px;
    letter-spacing: 1.2px;
    z-index:5;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    
}
#floating-panel{
    position:absolute;
    top:150px;
    width: 250px;
    left:10px;
    z-index:5;
    background-color:#fff;
    padding:16px;
    border:1px solid #999;
    line-height:30px;
    font-size:18px;
    padding-top: 0;
    font-weight:bold;
    overflow: hidden;
    transition: 0.5s;
    height: 328px;
}
.closeBtn {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.closed {
    height: 20px!important;
    width: 20px!important;
    opacity: .5;
}
.closed:hover {
    opacity: 1;
}
.panel-item {
    width: 100%;
}
.panel-item img {
    margin-top: 4px;
    position: absolute;
    height: 1.2em;
    right: 1em;
}
@media only screen and (max-width: 479px){
    #floating-panel{
        font-size:12px;
        padding:6px;
    }
}
#app iframe {
    border: none;
    height: 100%;
}

.event {
    width: 250px
}
.map {
    flex: 12;
}

.searchBox {
    position: absolute;
    z-index: 5;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    font-family: Roboto;
    border-bottom: 1px solid #DADCE0;
    font-size: 13px;
    font-weight: 400;
    padding: 11px 25px 11px 11px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    width: 400px;
    height: 44px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
#pac-input {
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
}
.searchBottom {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    padding: 9px 0;
    display: block;
}
.searchBottom::before {
    content: '';
    background: url(//maps.gstatic.com/tactile/omnibox/quantum_search_button-20150825-1x.png);
    height: 23px;
    width: 23px;
    display: block;
}

